#menu {
	margin-left:275px;
}
.accordion,.accordion ul,.accordion li,.accordion a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
	width:175px;
}
 
.accordion li {
    list-style: none;
}
.accordion li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 40px;
    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
     background: #6c6e74;
    background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
    background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);	
}
 
.sub-menu li:last-child a { border: none; }
 
.accordion > li:hover > a, .accordion > li:target > a {
    color: #3e5706;
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    background: #a5cd4e;
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}
 
.accordion > li:hover > a span, .accordion > li:target > a span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #3e5706;
}
 
.sub-menu li:hover a { background: #efefef; }

.accordion li > .sub-menu {
    height: 0;
    overflow: hidden;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
 
.accordion li:target > .sub-menu {
    height: 98px;
}

#title {
text-align:center;
}

#main-container {
clear:both;
background:rgba(255,138,30,0.8);
width:600px;
margin-left:250px;
border-radius:12px;
}

#main-container h1#main-title {
text-transform:uppercase;
padding:20px 0 0 20px;
color:#eee;
text-shadow:#000 0 0 2px;
}

#main-container h2 {
text-transform:uppercase;
padding:20px 0 0 20px;
color:#eee;
text-shadow:#000 0 0 2px;
}

#main-container p {
margin:50px;
padding-bottom:20px;
color:#ddd;
}

footer {
font:bold 10px Helvetica, Sans-Serif;
float:left;
}