article, aside, details, figcaption, figure, footer, header, hgroup, nav, section 
{ 
	display: block; 
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
{
  display:block;
}

html
{
  font-size:100%;
  overflow-y:scroll;
}

body
{
  font-size:13px;
  line-height:1.231;
  font:16px/26px Helvetica, Helvetica Neue, Arial;
  margin:0;
}

body,button,input,select,textarea
{
  font-family:sans-serif;
  color:#222;
}

a:focus
{
  outline:thin dotted;
}

a:hover,a:active
{
  outline:0;
}

abbr
{
  border-bottom:1px dotted;
}

b,strong
{
  font-weight:700;
}

blockquote
{
  margin:1em 40px;
}

hr
{
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}

ins
{
  background:#ff9;
  color:#000;
  text-decoration:none;
}

mark
{
  background:#ff0;
  color:#000;
  font-style:italic;
  font-weight:700;
}

pre,code,kbd,samp
{
  font-family:monospace, monospace;
  font-size:1em;
}

pre
{
  white-space:pre-wrap;
  word-wrap:break-word;
}

q
{
  quotes:none;
}

q:before,q:after
{
  content:none;
}

small
{
  font-size:85%;
}

sub,sup
{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}

sup
{
  top:-.5em;
}

sub
{
  bottom:-.25em;
}

section h2
{
  border-top:4px solid #DC3D24;
  padding-top:20px;
}

ul,ol
{
  margin:1em 0;
  padding:0 0 0 40px;
}

dd
{
  margin:0 0 0 40px;
}

nav ul,nav ol
{
  list-style:none;
  margin:0;
  padding:0;
}

form#payment
{
  background:#E3AE57;
  counter-reset:fieldsets;
  width:96%;
  padding:4%;
}

form#payment ol
{
  padding:0;
}

form#payment fieldset
{
  border:none;
  margin-bottom:10px;
}

form#payment fieldset:last-of-type
{
  margin-bottom:0;
}

form#payment legend
{
  color:#FFF;
  font-size:16px;
  font-weight:700;
  padding-bottom:10px;
}

form#payment fieldset fieldset legend
{
  color:#111;
  font-size:13px;
  font-weight:400;
  padding-bottom:0;
}

form#payment ol li
{
  background:rgba(255,255,255,.3);
  line-height:30px;
  list-style:none;
  margin-bottom:2px;
  border-color:rgba(255,255,255,.6);
  border-style:solid;
  border-width:1px;
  padding:5px 10px;
}

form#payment ol ol li
{
  background:none;
  border:none;
  float:left;
}

form#payment label
{
  float:left;
  font-size:13px;
  width:110px;
}

form#payment fieldset fieldset label
{
  background:none no-repeat left 50%;
  line-height:20px;
  width:auto;
  padding:0 0 0 30px;
}

form#payment label[for=visa]
{
  background-image:url(visa.gif);
}

form#payment label[for=mastercard]
{
  background-image:url(mastercard.gif);
}

form#payment input:not([type=radio]),form#payment textarea
{
  background:#fff;
  border:none;
  border-radius:3px;
  font:italic 13px Georgia, "Times New Roman", Times, serif;
  outline:none;
  width:98%;
  padding:4px;
}

form#payment input:not([type=submit]):focus,form#payment textarea:focus
{
  background:#eaeaea;
}

form#payment input[type=radio]
{
  float:left;
  margin-right:5px;
}

form#payment button
{
  background:#384313;
  border:none;
  border-radius:20px;
  color:#fff;
  display:block;
  font:18px GeosansLight;
  letter-spacing:1px;
  text-shadow:0 1px 1px #000;
  text-transform:uppercase;
  margin:auto;
  padding:7px 25px;
}

form#payment button:hover
{
  background:#1e2506;
  cursor:pointer;
}

fieldset
{
  border:0;
  margin:0;
  padding:0;
}

legend
{
  border:0;
  margin-left:-7px;
  padding:0;
}

button,input,select,textarea
{
  font-size:100%;
  vertical-align:middle;
  margin:0;
}

button,input
{
  line-height:normal;
  overflow:visible;
}

textarea
{
  overflow:auto;
  vertical-align:top;
}

input:invalid,textarea:invalid
{
  background-color:#f0dddd;
}

table
{
  border-collapse:collapse;
  border-spacing:0;
}

.wrapper
{
  width:90%;
  margin:0 5%;
}

article footer
{
  border-left:4px dotted #CCC;
  padding-left:2%;
}

article footer h3
{
  color:#666;
}

article footer p
{
  color:#666;
  font-size:12px;
}

#header-container
{
  border-bottom:20px solid #DC3D24;
}

#footer-container
{
  border-top:20px solid #DC3D24;
}

#main aside
{
  border-top:20px solid #DC3D24;
  color:#FFF;
  padding:0 5% 10px;
}

#header-container,#footer-container,#main aside
{
  background:#232B2B;
  margin-bottom:30px;
}

nav
{
	float:right;
	width:38%;
}

nav a
{
	display:block;
	background:#DC3D24;
	color:white;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	float:left;
	width:27%;
	margin:0 1.7%;
	padding:15px 2%;
	margin-bottom:0;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}
	
nav ul li
{
	display:inline;
}	

nav li:first-child a
{ 
	margin-left:0;  
}
nav li:last-child  a
{ 
	margin-right:0; 
}

#main
{
  padding:30px 0;
}

#main article h1
{
  font-size:2.8em;
}

#footer-container footer
{
  color:#FFF;
  padding:20px 0;
}

a,a:visited
{
  color:#FC0;
}

dfn,article header p
{
  font-style:italic;
}

.heading_main,h1,h2,h3,h4
{
  font-family:GeosansLight;
  font-weight:400;
}

form#payment fieldset fieldset label:hover,label
{
  cursor:pointer;
}

figure,form
{
  margin:0;
}

#title,nav a:hover,nav a:visited
{
  color:#FFF;
}